body {
  font-family: monospace;
  text-align: center;
  background-color: #034c0d;
}

li {
  list-style: none;
  font-size: 42px;
  color: #fff;
  margin: 0 auto;
  text-shadow: 1px 1px 1px #000;
}

.left {
  float: left;
}

.right {
  float: right;
}

.ball {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  color: #fff;
  background-color: #fff;
  margin-top: -45px;
}

.ball-right {
  margin-left: -40px;
}

.ball-left {
  margin-left: 100%;
}

.li-right {
  position: relative;
  right:-50px;
}

.li-left {
  position: relative;
  right: 50px;
}

.outline {
  border: 2px solid #fff;
  display: none;
}
.move {
  animation: moveBall 5s linear infinite;
  margin-top: 0px;
}
