body {
  font-family: monospace;
  text-align: center;
  background-color: #034c0d;
}

li {
  list-style: none;
  font-size: 42px;
  color: #fff;
}

.left {
  margin-left: -99%;
}

.right {
  margin-left: 80%;
}

.ball {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  color: #fff;
  background-color: #fff;
  margin-top: -40px;
}

.ball-right {
  margin-left: 70%;
}

.ball-left {
  margin-left: 20%;
}


@media screen and (max-width: 762px) {
  .right {
    margin-left: 70%;
  }
  .ball-right {
    margin-left: 60%;
  }
}
@media screen and (max-width: 532px){
  .ball-right {
    margin-left: 55%;
  }
}
@media screen and (min-width: 982px){
  .right {
    margin-left: 90%;
  }
  .ball-right {
    margin-left: 80%;
  }
}
